<!DOCTYPE html>
<html lang="en">
</html>
@using WebMatrix.Data
<link rel="stylesheet" href="/Content/Site.css">
@{
            var db = Database.Open("FoodDB");
            var sql = "select * from drivers as d join deliveries as deli on d.driver_id = deli.driver_id join orders as o on deli.delivery_order_id = o.order_id join payments as p on o.order_id = p.payment_order_id join channels as c on o.channel_id = c.channel_id where order_id=@0";
            var recordID = Request.QueryString["id"];
            var i = db.QuerySingle(sql, recordID);

            if (IsPost) {
                var uSql = "update deliveries set delivery_distance_meters = @0, delivery_status = @1 where delivery_id = @2;";
                var uData = db.Execute(uSql,
                    Request.Form["DeliveryDistance"],
                    Request.Form["DeliveryStatus"], 
                    Request.Form["DeliveryID"],
                    Request.Form["update"]
                    ); 

                if (uData == 1)
                        { <div class="alert alert-success">Updated!</div> }
            }
}


<main class="container">
    <div class="jumbotron pt-1 pb-1 mt-2">
        <h2 class="text-center">Details Page</h2>
    </div>

    <form class="rown form-group" method="post" action="/Home/Details?id">
        <div class="row justify-content-start">
        </div>
    </form>

    @if (i != null)
    {
        <div class="row justify-content-center">

            <div class="card ">
                <details>
                    <summary><b>Order Details</b></summary>

                    <p class="card-title">Order_ID: @i.order_id</p>
                    <p class="card-text">Order_Status: @i.order_status</p>
                    <p class="card-text">Order_Amount: @i.order_amount</p>

                </details>


                <details>
                    <summary><b>Channel Details</b></summary>

                    <p class="card-text">Channel_ID: @i.channel_id</p>
                    <p class="card-text">Channel_Name: @i.channel_name</p>
                    <p class="card-text">Cahnnel_Type: @i.channel_type</p>

                </details>
                <details>
                    <summary><b>Delivery Details</b></summary>

                    <p class="card-text">Delivery_ID: @i.delivery_id</p>
                    <p class="card-text">Delivery_Order_ID: @i.delivery_order_id</p>
                    <p class="card-text">Delivery_Distance: @i.delivery_distance_meters</p>
                    <p class="card-text">Delivery_Status: @i.delivery_status</p>

                    <details>
                        <summary><b>Edit</b></summary>
                        <div>
                            <form class="row col-4" method="post">
                                <input type="text" name="DeliveryID" class="form-control" value=@i.delivery_id placeholder=@i.delivery_id>
                                <br />
                                <input type="text" name="DeliveryDistance" class="form-control" placeholder="Delivery Distance (meters)">
                                <br />
                                <input type="text" name="DeliveryStatus" class="form-control" placeholder="Delivery Status">
                                <br />
                                <button class="btn btn-outline-secondary" type="submit" value="update">Update</button>
                            </form>
                        </div>
                    </details>
                </details>

                <details>
                    <summary><b>Driver Details</b></summary>

                    <p class="card-text">Driver_ID: @i.driver_id</p>
                    <p class="card-text">Driver_Modal: @i.driver_modal</p>
                    <p class="card-text">Driver_Type: @i.driver_type</p>

                </details>

            </div>
        </div>
        }
        else
        {
        <h2 class="text-danger text-center">Sorry The Oder Was Not Found!!</h2>

        }

    </main>

